<div cdkDropListGroup>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <div class="upload-file">
      <h2>Upload image</h2>
      <input type="file" (change)="onFileSelect($event)">
      <button mat-raised-button type="button" (click)="onSave()">Save</button>
      <button mat-raised-button type="button" (click)="onLoad()">Load</button>
    </div>
      <div class="example-container" *ngFor="let category of categories">
        <h2>{{category.name}}</h2>
        <div
          cdkDropList
          [id]="category.name"
          [cdkDropListData]="category.images"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of category.images" cdkDrag>
            <img [src]="item.url">
            {{item.name}}
            <button type="button" (click)="deleteImage(item.name, category.name)">X</button>
          </div>
        </div>
      </div>
    
    <h2>Grid</h2>
    <!-- <mat-form-field>
      <mat-select aria-label="Display grid lines" [(ngModel)]="options.displayGrid"
                  placeholder="Display grid lines"
                  (ngModelChange)="changedOptions()">
        <mat-option value="always">Always</mat-option>
        <mat-option value="onDrag&Resize">On Drag & Resize</mat-option>
        <mat-option value="none">None</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="options.fixedColWidth" type="number" placeholder="Fixed Col Width"
              (ngModelChange)="changedOptions()">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="options.fixedRowHeight" type="number" placeholder="Fixed Row Height"
              (ngModelChange)="changedOptions()">
    </mat-form-field>-->
    <mat-form-field>
      <input matInput [(ngModel)]="backgroundRAW" type="text" placeholder="Image URL"
              (ngModelChange)="changedOptions()">
    </mat-form-field>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-button (click)="sidenav.toggle()">Menu</button>
    <app-grid
      [backgroundRAW]="backgroundRAW"></app-grid>
  </mat-sidenav-content>

</mat-sidenav-container>
</div>