@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.grid {
    height: 1000px !important;
    background-color: gainsboro;
    border-color: black;
    overflow: hidden;
    background-size: 100%;
}

mat-form-field {
    display: inline-flex;
    margin: 20px;
}

mat-option{
    margin: 30px;
}