<div class="options-header">
  <mat-form-field>
    <mat-select aria-label="Display grid lines" [(ngModel)]="options.displayGrid"
                placeholder="Display grid lines"
                (ngModelChange)="changedOptions()">
      <mat-option value="always">Always</mat-option>
      <mat-option value="onDrag&Resize">On Drag & Resize</mat-option>
      <mat-option value="none">None</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="options.fixedColWidth" type="number" placeholder="Fixed Col Width"
            (ngModelChange)="changedOptions()">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="options.fixedRowHeight" type="number" placeholder="Fixed Row Height"
            (ngModelChange)="changedOptions()">
  </mat-form-field>
  <button mat-mini-fab (click)="addItem()" class="add-button cols-2">
    <mat-icon>add</mat-icon>
  </button>
</div>

<gridster class="grid" [ngStyle]="{'background-image': backgroundURL, 'overflow': 'hidden'}" [options]="options">
  <gridster-item class="grid-item" [item]="item" *ngFor="let item of battleGrid"
    cdkDropList
    [cdkDropListData]="mapsz"
    (cdkDropListDropped)="drop($event)"
    >
  </gridster-item>
</gridster>