@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.grid {
    min-height: 1500px;
    height: auto !important;
    background-color: gainsboro;
    border-color: black;
    background-size: 100%;
}

mat-form-field {
    display: inline-flex;
    margin: 20px;
}

mat-option{
    margin: 30px;
}

.grid-item {
    background-size: 100% 100%;
    background-color: white;
    opacity: 50%;
}

::ng-deep .grid-image {
    max-width: 100%;
    height: auto;
}